<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>958348491113-fmu40etmsamkddqo6pas4d9qb0rnm0b5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.958348491113-fmu40etmsamkddqo6pas4d9qb0rnm0b5</string>
	<key>API_KEY</key>
	<string>AIzaSyC7mOuhE5GY2zx4DaePWU66nDYNcX6JDkQ</string>
	<key>GCM_SENDER_ID</key>
	<string>958348491113</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.villagewale</string>
	<key>PROJECT_ID</key>
	<string>village-wale</string>
	<key>STORAGE_BUCKET</key>
	<string>village-wale.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:958348491113:ios:95e05e27e4a8e79426a5f8</string>
</dict>
</plist>